@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(fonts/montserrat.ttf) format('truetype');
}

#fedmenu-button {
    position: fixed;
    bottom: 18;
    left: 18;

    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;

    -webkit-filter: drop-shadow(4px 4px 4px #222);
    filter:         drop-shadow(4px 4px 4px #222);
    z-index: 99;

    /* Awesome */
    transition-property: width, height, bottom, left, background-size, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

#fedmenu-button:hover, #fedmenu-button.fedmenu-active {
    bottom: 7;
    left: 7;

    width: 86px;
    height: 86px;
    background-size: 86px 86px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;

    -webkit-filter: drop-shadow(4px 4px 6px #222);
    filter:         drop-shadow(4px 4px 6px #222);
}

#fedmenu-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
}

#fedmenu-wrapper.fedmenu-active {
    display: block;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 400px rgba(0,0,0,1);
            box-shadow: inset 0 0 400px rgba(0,0,0,1);

}

#fedmenu-content {
    position: fixed;
    top: 100%;
    left: 15%;
    width: 70%;

    background-color: #FFF;
    margin-bottom: 20px;
    padding: 19px;
    border-radius: 2px;
    border: 0px none;

    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
    z-index: 100;
}

#fedmenu-content.fedmenu-active {
    top: 15%;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
}

#fedmenu-content > h1 {
    font-family: Montserrat;
    font-weight: bold;
    border-bottom: 2px solid;
}
