@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(fonts/montserrat.ttf) format('truetype');
}

.fedmenu-bottom-left {
    position: fixed;
    bottom: 10;
    left: 10;
}

.fedmenu-bottom-right {
    position: fixed;
    bottom: 10;
    right: 10;
}
.fedmenu-bottom-left:hover .fedmenu-bottom-left.fedmenu-active {
    bottom: 2;
    left: 2;
}
.fedmenu-bottom-right:hover .fedmenu-bottom-right.fedmenu-active {
    bottom: 2;
    right 2;
}

#fedmenu-tray {
    width: 48px;
}

.fedmenu-button {
    margin-left: auto;
    margin-right: auto;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 8px;

    width: 32px;
    height: 32px;

    -webkit-filter: drop-shadow(4px 4px 4px #222);
    filter:         drop-shadow(4px 4px 4px #222);
    z-index: 99;

    /* Awesome */
    transition-property: width, height, bottom, left, background-size, filter, margin-top, margin-bottom, padding-bottom;
    transition-duration: 0.10s;
    transition-timing-function: linear;
}
.fedmenu-button:hover, .fedmenu-button.fedmenu-active {
    margin-top: -8px;
    margin-bottom: -8px;
    padding-bottom: -8px;

    width: 48px;
    height: 48px;

    -webkit-filter: drop-shadow(4px 4px 6px #222);
    filter:         drop-shadow(4px 4px 6px #222);
}

.fedmenu-button .img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#fedmenu-main-button .img { background-image: url("img/logo.png"); }
#fedmenu-user-button .img { border-radius: 50%;  /* Make avatars into a circle */ }

#fedmenu-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
}

#fedmenu-wrapper.fedmenu-active {
    display: block;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 400px rgba(0,0,0,1);
            box-shadow: inset 0 0 400px rgba(0,0,0,1);

}

.fedmenu-content {
    position: fixed;
    top: 100%;
    left: 15%;
    width: 70%;
    /* max-width: 890px; */

    background: url('img/panda-wave.png') no-repeat right bottom;

    background-color: #FFF;
    margin-bottom: 20px;
    padding: 19px;
    border-radius: 2px;
    border: 0px none;

    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
    z-index: 100;
}

.fedmenu-content.fedmenu-active {
    top: 15%;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
}

.fedmenu-content > h1 {
    font-family: Montserrat;
    font-weight: bold;
    border-bottom: 2px solid;
}

.fedmenu-panel {
    font-family: Montserrat;
    display: inline-block;
    vertical-align: top;
    font-size: 8pt;
    padding: 15px;
}
.fedmenu-panel li {
    list-style: none;
    margin-left: -40px;
}

.fedmenu-panel a,
.fedmenu-panel a:hover {
    color: #3C6EB4;
}

.fedmenu-header {
    display: inline;
    font-weight: bold;
    font-size: 12pt;
    color: #294172;
    border-bottom: 1px solid;

}
